repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: check-merge-conflict
      - id: name-tests-test
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [typing_extensions]
        args: [--config-file, ./pyproject.toml]

  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
        args: ["--in-place", "--config", "./pyproject.toml"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.0
    hooks:
      - id: poetry-check
      # - id: poetry-lock
      # # Export main dependencies.
      # - id: poetry-export
      #   args:
      #     [
      #       -f,
      #       requirements.txt,
      #       -o,
      #       requirements.txt,
      #       --only,
      #       main,
      #       --without-hashes,
      #       --without-urls,
      #     ]
      # # Export dev dependencies.
      # - id: poetry-export
      #   args:
      #     [
      #       "-f",
      #       "requirements.txt",
      #       "-o",
      #       "requirements-dev.txt",
      #       "--with",
      #       "dev,test",
      #       "--without-hashes",
      #       "--without-urls",
      #     ]
